*{
    background-color: yellow;
}
/* Type Selector*/
div {
    color:green;
}

/*Class selector - Most usefull*/
.red {
    background: red;
}

/* Id selector (You can have ONLY one on a page*/
#blue {
    background: blue;
}

/* Conbining Selectors AND*/
div.red.grey-text {
    background-color: grey;
}

/* Combining selectors OR */
span, li.green {
    background-color: green;
}