body {
    font-family: 'Trebuchet MS';
}

.elipsis > p{
    width: 300px;
    border: 2px solid brown;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip > p{
    width: 400px;
    border: 3px solid blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

p:hover {
    overflow: visible;
}

.vert {
    writing-mode: vertical-rl;
}

.wrap > p{
    width: 50px;
    overflow: hidden;
    border: 2px solid green;
    word-wrap: break-word;
}

.shadow{
    background-color: black;
    color: aliceblue;
    font-family:"Papyrus";
    text-shadow: 0 0 20px green,
    0 0 5px white;
}

.container{
    height: 300px;
    text-align: center;
    font-size: 25px;
    font-family: 'Papyrus';
    background-color: #070101;
    color: rgb(237, 237, 151);
}
.glow {
    
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 31px #fff,
    0 0 55px rgb(255, 226, 4),
    0 0 91px rgb(255, 226, 4),
    0 0 100px rgb(255, 226, 4),
    0 0 130px rgb(255, 226, 4);
}

