.one {
    border: 10px solid transparant;
    padding: 15px;
    border-image: url("../Project - Hair Day Salon/image section 1.jpg") 30 round;
}

.two {
    border-image-source: url("../Project - Hair Day Salon/image section 1.jpg");
    padding: 15px;
    border-image-repeat: stretch;  
    border-image-slice: 30;
  }