/*
Insert the RGBA color value for a full red background color of the <h1> element, with no transparency.
*/

h1 {
    background-color: rgba(255, 0, 0, 100%);
}

/*
Use hue, saturation and lightness to set a background color of the <h1> element.

Set the hue to red, saturation to 100%, and lightness to 50%.
*/

h2 {
    color: hsl(0, 100%, 50%);
}

/*
There is also a method where we can specify the alpha channel as well as hue, saturation, and lightness, what is the name of this method?
*/

h3 {
    background-color: hsla(0,100%, 50%, 0.3);
}

/*
We can set the transparence for the whole element, not only the background, by using which CSS property?
*/

p {
    background-color: rgb(0, 255, 0);
    opacity: 0.3;
}
