.outline1 {
    width: 200px;
    border: 2px solid red;  
    padding: 25px;
    margin-left: 25px;
    outline-style: solid;
    outline-width: 5px;  
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    outline-color: red;
  }

  .outline2 {
    width: 200px;
    border: 2px solid red;  
    padding: 25px;
    margin-top: 50px;
    margin-left: 25px;
    outline: 4px dotted red;
  }  