
/* Position the <h1> element to always be 50px from the top, and 10px from the right, relative to the window/frame edges. */

.position h1 {
  position: fixed;
  top: 50px;
  right: 10px;
}

/* Position the <h2> element 50px from the top, relative to its normal position. */

.position h2 {
  position: relative;
  top: 100px;
}

/* Position the <h1> element 50px from the top, relative to the HTML page. */

.position h3 {
    position: absolute;
    top: 250px;
  }

/* Position the <h1> element 50px from the top, by referring to its class name. */
.myheader{
    position: relative;
    top: 100px;
}