table {
    margin: 1rem;
    width: 95%;
    border: 2px solid blue;
    border-collapse: collapse;
}

th, td {
    width: 20%;
    border: 1px solid blue;
    border-collapse: collapse;
}

caption {
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

.description{
    width: 40%;
}

tr:nth-child(even){
    background-color:aquamarine;
}