body {
    margin: 0;
}

.conatiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, Helvetica, sans-serif;
    user-select: none;
    font-size: 120px;
    transition: all 0.24s ease-out;
}

.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}
