li {
    display: inline 
}

.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
}
.box {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: yellow;
    padding: 10px;
    margin: 5px;
}
