#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:hover {
    background-color: red;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    
    /* To control the space between the border and the content in a table, use the padding property on <td> and <th> elements: */
    padding: 8px;
  }
  
  /* For zebra-striped tables, use the nth-child() selector and add a background-color to all even (or odd) table rows: */
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
   /* Use the :hover selector on <tr> to highlight table rows on mouse over: */
  #customers tr:hover {background-color: #5a5ad0;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }



 
