/* Desendant Selector - selects ALL the desendant children */
div span {
    background-color: red;
   color: yellowgreen 
}

span > b {
    color:blueviolet;
    /* Overwrites the yellowgreen color */
}

/* General Sibling Selector */
li.red ~ li {
    background-color: yellow;
}

/* Adjasant Sibling Selector */
li.green + li {
    background-color: green;
}




