/* Body and General Elements */
body {
    background-color:#A0FEF7;
    margin: 3rem 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, ul {
    color:  #a418da;
    font-size: 1.2rem;
    font-weight: 500;
    list-style-type: none;
}

section {
    display: flex;
}

/* Header */
header > img {
    display: block;
    margin: 2rem auto;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color:#F7A0FE;
    border-radius: 0.8rem;
    color:  #a418da;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav li {
    display: inline-block;
    padding: 1rem 2rem;
}

nav a {
    text-decoration: none;
    color:#a50fde;
}

/* Main */

/* Section One */
h1 {
    font-size: 2.8rem;
    color:  #a50fde;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1rem;
    border: 0.3rem solid #F7A0FE;
    align-items: center;
    justify-content: center;
    text-shadow: -0.3rem 0.2rem 0.2rem #fdef43,
    -0.50rem 0.5rem 0.5rem #fdf370;
}

.one:hover {
    animation: banner 3s linear 0.5s 1;
}

@keyframes banner {
    0%  {background-color: #A0FEF7; border-color: #A0FEF7;}
    33% {background-color: #F477FE; border-color: #F477FE;}
    66% {background-color: #fdeb16; border-color: #fdeb16;}
    100% {background-color:#F477FE; border-color: #F477FE;}
}
 
.promotion {
    text-shadow: -0.3rem 0.2rem 0.2rem #fdef43,
    -0.50rem 0.5rem 0.5rem #fdf370,
    -0.70rem 0.8rem 0.5rem #F7A0FE,
    -1.1rem 0.8rem 0.5rem #f482fe;
}

.one img {
    width: 100%;
    height:auto;
    margin: 1rem auto;
}

.one h1 {
    padding: 0 2rem;
}

.one p {
    padding: 0 1rem;
}

.section-one {
    font-size: 1.4rem;
    font-weight: 500;
}

/* Section Two */
h2 {
    font-size: 2rem;
    color:  #a50fde;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
}

.two article {
    flex: 1;
    background-color: #FEF7A0;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.two img{
    width: 100%;
    height:auto;
}

/* Footer */
footer {
    display: flex;
}

footer div {
    flex: 1;
}

.footer {
    color:  #a418da;
    font-size: 1.0rem;
    font-weight: 500;
    text-align: end;
    text-decoration: overline;
}

.image {
    float: left;
    margin: 0 2em;
}

.our-services, .book-service {
    position: relative;
}

.service {
    position: absolute;
    bottom: 0.5rem;
}

.book {
    position: absolute;
    bottom: 0.5rem;
}
