body {
    background-color:#56B2CC;
    font-family: 'Markazi Text', serif;
    margin: 3rem 5%;
}

h1 {
    font-size: 3rem;
    color:  #a50fde;
}

h2 {
    font-size: 2rem;
    color:  #a50fde;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p, ul {
    color:  #a418da;
    font-size: 1.1rem;
    font-weight: 500;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #63c53e;
    border-radius: 0.8rem;
    color:  #a418da;
    font-size: 1.3rem;
    font-weight: 600;
    
}

nav li {
    display: inline-block;
    padding: 1rem;
}

section {
    display: flex;
}

article {
    flex: 1;
    background-color:  #63c53e;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

a {
    text-decoration: none;
    color:#a50fde;
}

.footer {
    color:  #a418da;
    font-size: 1.0rem;
    font-weight: 500;
    text-align: end;
    text-decoration: overline;
} 
