* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edeffe;
    font-family: 'Markazi Text', serif;
    margin: 3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem
}

.article-one-one {
    grid-column: 1 / 4;
    color: red;
    background-color: yellow;
    border-radius: 1rem;
    margin: 0;
    padding: 1rem;
}

.article-two-one {
    color:blue;
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 1 / 2;
}

.article-two-two {
    color:green;
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 2 / 3;
}

.article-two-three {
    color: blueviolet;
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 3 / 4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

li {
    list-style-type: none;
    margin-left: 1.5rem
}

header > img {
    display: block;
    margin: 1rem auto;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 1rem;
}

nav li {
    display: inline-block;
    margin: 0 2rem;
}

a {
    text-decoration: none;
}

article {
    margin: 0;
}

footer {
    display: flex;
    margin: 1rem;
}

footer div {
   flex: 1;
}

footer p {
    text-align: right;
}
