* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e0e4fd;
    font-family: 'Shantell Sans', sans-serif,  cursive;
    margin: 3rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    position: relative;
}

p {
    padding-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #ffff00;
    text-align: right;
    text-shadow: 0.2rem 0.2rem 0.2rem #a6ff4c,
    0.3rem 0.3rem 0.3rem #75ea00,
    0.5rem 0.5rem 0.5rem #ce0004;
}

h2 {
    font-family: 'Shantell Sans', sans-serif,  cursive;
    font-size: 2.2rem;
}

li {
    list-style-type: none;
    margin-left: 1.5rem
}

a {
    text-decoration: none;
}

article:hover {
    background-color: #00d000;
    text-shadow: 0.1rem 0.1rem 0.1rem #ffff00,
    0.3rem 0.3rem 0.3rem #ffff00;
    box-shadow: 0.5rem 0.5rem #ffff00;
}

footer {
    display: flex;
    margin: 1rem;
}

.article-one-one {
    position: relative;
    width: 100%;
    height: 10rem;
    grid-column: 1 / 4;
    border-radius: 1rem;
    background-image: url("./pics/garden-nursery-1200x625.jpg");
    background-size: cover;
    margin: 0;
    padding: 1rem;
    font-family: Georgia, serif;
}

h1:hover {
    animation: promotion 4s linear;
}

@keyframes promotion {
    30% {color:red};
    60% {color:greenyellow};
}

.article-two-one {

    background-color: #00ffff;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 1 / 2;
}

.article-two-two {
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 2 / 3;
}

.article-two-three {
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 3 / 4;
}

main h2{
    color:#3c3cff
}

main img {
    width: 100%;
    height: auto;
}

main a {
    position: absolute;
    bottom: 0.5rem;
    color: #3c3cff;
}

main p {
    color: #ff585b;
}

main ul {
    font-family: 'Shantell Sans', sans-serif,  cursive;
    color: #ff585b;
}

header img {
    display: block;
    margin: 0 auto 2.3rem auto;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 1rem 0;
    padding: 0.9rem;
    background-color: #00ffff;
    border-radius: 1rem;
    color: verdana, sans-serif;
}

nav li {
    display: inline-block;
    margin: 0 2rem;
    font-weight: bold;
}

nav a {
    color:#3c3cff;
    font-family: Georgia, serif;
}

footer div {
   flex: 1;
}

footer p {
    text-align: right;
    border-top: #3c3cff;
    border-style: solid;
    border-width: 0.145rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-family: Georgia, serif;
    color: #3c3cff;
    margin-top: 0.5rem;
}

.article-one-one p {
    color: yellow;
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem #a6ff4c,
    0.3rem 0.3rem 0.3rem #81ff03,
    0.4rem 0.4rem 0.4rem #ce0004, 
    0.6rem 0.6rem 0.6rem #ce0004;
}

@media only screen and (max-width: 768px) {
    .two-one {
        grid-column: 1 / 4;
    }
    
    .two-two {
        grid-column: 1 / 4;
    }
    
    .two-three {
        grid-column: 1 / 4;
  }

    img ~ p {
        font-size: 1.2rem;
        text-shadow: none;
    }
}
